.aboutus-container {
    color: white;
    padding: 0 20px; /* Ensure the content aligns similarly to other pages */
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .content {
    margin-left: 20px; /* Consistent left margin as other pages */
    padding-top: 20px;
  }
  
  .spline-container,
  .spline-eth-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .description {
    text-align: center;
    color: white;
  }
  
  .description h2 {
    margin-bottom: 20px;
  }
  
  .description p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  